<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change information</title>
</head>
<body>
<form name="change_information" method="post" action="/HW15_BackEnd_war/change_information">
    <label id="icon" for="new_first_name"><h6>New first name:</h6></label>
    <input type="text" name="new_first_name" id="new_first_name">
    <label id="icon" for="new_last_name"><h6>New last name:</h6></label>
    <input type="text" name="new_last_name" id="new_last_name">
    <label id="icon" for="new_about_me"><h6>New about me:</h6></label>
    <input type="text" name="new_about_me" id="new_about_me">
    <input type="submit" value="change">
</form>
</body>
</html>