<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<form name="change_password" method="post" action="/HW15_BackEnd_war/change_password">
    <label id="icon" for="old_password"><h6>Old password:</h6></label>
    <input type="password" name="old_password" id="old_password">
    <label id="icon" for="new_password"><h6>New password:</h6></label>
    <input type="password" name="new_password" id="new_password">
    <input type="submit" value="change">
</form>
</body>
</html>